.theme-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 45px;

  font-size: 15px;
}

.theme-toggler.light {
  color: #000;
}

.theme-toggler.dark {
  color: white;
}